<!DOCTYPE html>
<html lang="es">
    {% extends "base.html" %}
    {% block content %}

    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">
                    Search for movie:
                </label>
                <input type="text" class="form-control" name="searchMovie">
            </div>
            <button type="submit" class="btn btn-primary">
                Search
            </button>
        </form>
        <p>searching for {{searchTerm}}</p>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
            <div class="col" v-for="movie in movies">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{movie.image.url}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{movie.title}}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        {% if movie.url %}
                            <a href="{{movie.url}}" class="btn btn-primary">Movie link</a>
                        {% endif %}
                    </div>
                    

                </div>
                
            </div>
            {% endfor %}
        </div>
        <br />
        <br />
        <br />
        <br />
        <h2>join our mailing list</h2>
        <form action="#">
            <div class="nb-3">
                <label for="email" class="form-label">Enter your Email:</label>
                <input type="email" name="email">
            </div>
            <button class="btn btn-primary">Sing Up</button>
        </form>
        
    </div>
    {% endblock content %}
    <footer>
        <p>all rigths reserved 2024.</p>
    </footer>
    </body>


</html>