<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <style>
        h2{
            color: aqua;
        }
        a{
            display: block;
        }
        .container{
            width: 70%;
            margin: auto;
        }

        hr{
            width: 50%;
        }
        span{
            color: purple;
        }
    </style>
</head>
<body>
    <!-- Contenido de la página -->
    
    <!-- Etiqueta de encabezado -->
    <div class="container">
        <h1>welcome to home page, <span>{{name}}</span></h1>
        <p>mi home page</p>
        <form action="">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">
                    Search for movie
                </label>
                <input type="text" class="form-control" name="searchMovie">
            </div>
            <button type="submit" class="btn btn-primary">
                Search
            </button>
        </form>
        <p>searching for {{searchTerm}}</p>
        <hr>
        {% for movie in movies %}
                <h2>{{movie.title}}</h2>
                <h3>{{ movie.description }}</h3>
                <img src="{{movie.image.url}}" alt="">
                {% if movie.url %}
                    <a href="{{movie.url}}">Movie link</a>
                {% endif %}

        {% endfor %}
    </div>
   
</body>

</html>